body {
	background: #9aa;
	margin: 0;
	padding: 0;
	border: 0;
    font:13px/1.22 arial,helvetica,clean,sans-serif;
    *font-size:small;
    *font:x-small;}
table {font-size:inherit;font:100%;}
pre,code,kbd,samp,tt {font-family:monospace;*font-size:108%;line-height:99%;}

#wrapper        {
  background: #fff;
  color: #000;
  margin: 5px auto;
  padding: 0;
  border: 1px solid #526968;
  min-width: 650px; 
  width: 650px;
}
#wrapper:after {
    content: "."; 
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }
/* Holly Hack Targets IE Win only \*/
* html #wrapper {height: 1%;}
/* End Holly Hack */
a:link, a:visited {
        font-weight : bold;
        text-decoration : underline;
        color: #03c;
        background: transparent;
        }
 
a:hover {
        font-weight : bold;
        text-decoration : underline;
        color: #000;
        background: transparent;
        }
#footer {
	background: #eee;
	font-size: x-small;
	padding: 5px;
    clear: both;
}
#leftside{
	float:	left;
	width:	300px;
    margin-left: 2px;
}
#rightside{
	padding: 2px 0px 0px 0px;
	margin: 0 0 0 310px;
	background: transparent;
}
#iem_nav {
    border: 1px solid #ccc;
    border-top: 2px solid #ccc;
        height: 24px;
    width: 100%;
        clear: both;
        margin: 0px 0px 0px 0px;
        padding: 0px;
    background-color: #f0f4f5;
        }
#iem_nav ul {
        margin: 0px 0px 0px 5px;
        padding: 0px;
        list-style-type: none;
        }
#iem_nav ul li {
        margin: 0;
        display: block;
        float: left;
        white-space: nowrap;
        padding: 4px 12px;
        background-image: none;
        }
#iem_nav ul li a, 
#iem_nav ul li a:visited  {
        margin: 0px 0px 0px 0px;
        color: #00f;
        text-decoration: none;
        }
#iem_nav ul li a:hover, 
#iem_nav ul li a:active  {
        text-decoration: underline;
        }
#iem_nav ul li.selected {
        background-color: white;
    border: 2px solid #ccc;
        border-bottom: 2px solid #fff;
        padding: 3px 12px;
        }
/* Subnav bar! */
#iem_subnav {
        height: 30px;
        display: block;
        float: left;
        clear: both;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: 0px;
        }
#iem_subnav ul {
        margin: -10px 0 0 2px;
        padding: 0;
        list-style-type: none;
        }
#iem_subnav ul li {
        float: left;
        margin: 7px 0 0 0;
        padding: 10px 2px 10px 0;
        color: #333;
        font-size: 0.9em;
        }
#iem_subnav ul li a, 
#iem_subnav ul li a:visited  {
        margin: 0 0 0 0;
        padding: 10px 11px 10px 11px;
        color: #333;
        font-size: 0.9em;
        text-decoration: none;
        }
#iem_subnav ul li a:hover, 
#iem_subnav ul li a:active  {
        text-decoration: underline;
        }
#iem_subnav ul li.selected {
        font-weight: bold;
        }
table.full {
 float: left;
 width: 600px;
}
#justone{
	padding: 0px 5px 5px 0;
	margin: 5px;
	background: transparent;
}
#tvdisplay{
	top: 5px;
	left: 250px;
	margin: 25px 25px 25px 25px;
	padding: 80px 0px 0px 60px;
	width: 640px;
	height: 496px;
	border: 1px solid #c30;
	position: absolute;
}
#tvcontrol{
	top: 5px;
	left: 5px;
	background: #fff;
	width: 240px;
	position: absolute;
}
#radlayerstill{
	background: #C0DBFF;
	padding: 0px;
	margin: 0px;
}
#radlayerloop{
	background: #FFC0CB;
	padding: 0px;
	margin: 0px;
}
form {
 margin: 0px;
 padding: 0px;
}
h2	{
 margin-bottom: 3px;
 margin-top: 3px;
 text-indent: 15px;
 color: #330000;
 border-bottom: 1px dashed;
 padding: 1px;
}
#linkbar {
  padding: 0;
  text-align: center;
  clear: both;
  margin: 1px 0px 5px 0px;
}
#linkbar a {
  text-decoration: none;
  border: none;
  text-align: center;
}
#linkbar li {
  list-style: none;
  display: inline;
  padding: 3px 3px 0px 0px;
}
#linkbar .selected {
  border-bottom: 2px #f00 solid;
}

#imgbar {
  margin: 0px;
  padding: 0px;
  text-align: center;
  background: #fff url(../images/hbar2.gif) repeat-x; 
}

/* Site Guide Stuff */
#guide {
  text-align: left;
  padding: 5px;
}
#guide ul {
  margin: 5px;
  padding-left: 15px;
  text-align: left;
  border: 0;
}
#guide ul li {
  list-style: disc inside;
  margin-left: 5px;
  padding-left: 5px;
  padding: 0;
  line-height: 1.5em;
}
#guide h4 {
  color: #00f;
  size: 1.2em;
  margin-top: 5px;
  margin-bottom: 5px;
}
#guide p {
  margin-left: 10px;
}
div.urllink {
  border: 1px dashed #000;
  padding: 5px;
  margin-left: 25px;
  margin-right: 25px;
}

div.urllink .details {
  font-size: 0.8em;
}
div.urllink h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #f00;
  font-size: 1.1em;
  line-height: 1.3em;
}
div.urllink code {
  margin-left: 50px;
  margin-top: 5px;
}
div.urllink code a {
  text-decoration: underline;
}
div.urllink img {
  float: left;
  margin: 0px;
  height: 48px;
}
div.nb {
  border: 1px #ccc solid;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
/*  background: #fff url(../images/sbar.gif) left top repeat-x; */
}
div.nb h3 {
  margin: 0px;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  color: #000;
  background: #fcb93b;
  border-bottom: 5px #ff0000 solid;
}
div.nb .nb_content {
  padding: 5px;
}
div.nb_shader img {
  float: right;
  margin: 5px 5px 0px 0px;
}
.horiz-list li {
  list-style: none;
  display: inline;
  margin-right: 10px;
}
