body {
	background: #9aa;
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	padding-bottom: 25px;
}
html, body, h2, h3, h4, div, p, ul, li, input {
	font-family: "Gill Sans MT", "Gill sans", "Trebuchet ms", sans-serif;
}
#wrapper        {
  background: #eee;
  color: #000;
  margin: 5px auto;
  padding: 0;
  border: 1px solid #526968;
  min-width: 698px; 
  width: 698px;
}
#wrapper:after {
    content: "."; 
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; 
    visibility: hidden;
    }

    /* Holly Hack Targets IE Win only \*/
    * html #wrapper {height: 1%;}
    /* End Holly Hack */
#imgbar {
	background: #eee;
}
#footer {
	background: #eee;
	font-size: x-small;
	padding: 5px;
    clear: both;
}
#leftside{
	float:	left;
	width:	350px;
	text-align: left;
    margin-left: 5px;
}
#rightside{
	padding: 2px 10px 10px 0;
	margin: 0 0 0 380px;
	background: transparent;
	text-align: left;
}
table.side {
 float: left;
 width: 300px;
}
table.full {
 float: left;
 width: 600px;
}
#justone{
	padding: 0px 5px 5px 0;
	margin: 5px;
	background: transparent;
	text-align: left;
}
#tvdisplay{
	top: 5px;
	left: 250px;
	margin: 25px 25px 25px 25px;
	padding: 80px 0px 0px 60px;
	text-align: left;
	width: 640px;
	height: 496px;
	border: 1px solid #c30;
	position: absolute;
}
#tvcontrol{
	top: 5px;
	left: 5px;
	background: #fff;
	width: 240px;
	position: absolute;
}
#radlayerstill{
	background: #C0DBFF;
	text-align: center;
	padding: 5px;
	width: 325px;
}
#radlayerloop{
	background: #FFC0CB;
	text-align: center;
	padding: 5px;
	width: 325px;
}
a:link, a:visited {
        font-weight : bold;
        text-decoration : underline;
        color: #03c;
        background: transparent;
        }
 
a:hover {
        font-weight : bold;
        text-decoration : underline;
        color: #000;
        background: transparent;
        }
form {
 margin: 0px;
 padding: 0px;
}
h2	{
 margin-bottom: 3px;
 margin-top: 3px;
 text-indent: 15px;
/* border-color: #990000;
 background-color: #EFB9B9; */
 color: #330000;
 border-bottom: 1px dashed;
/* border-top: 0px solid;
 border-left: 3px solid;
 border-right: 0px solid; */
 padding: 1px;
}
ul      {
        margin: 0;
        padding: 0;
        text-align: left;
        border: 0;
        }
         
ul li   {
 list-style: disc inside;
 margin: 0;
 padding: 0;
}
                                                                                
#mainNavOuter {
        width: 100%;
        background-position: bottom right;
        background-repeat: no-repeat;
        background-color: #00c;
        }

#mainNav {
        width: 100%;
        font-weight: bold;
        }


/* float clear hack that has been hacked for Moz 1.5x and below */
#mainNavOuter:after {
    content: ".";
    display: block;
    height: 1px;
    margin-top: -1px;
    overflow: hidden;
    clear: both;
    visibility: hidden;
    }
    /* Holly Hack Targets IE Win only \*/
    * html .mainNavOuter {height: 1%;}
    /* End Holly Hack */


#mainNavInner {
        width: 100%;
        height: 20px;
        }

#mainNav ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        }

#mainNav ul li {
        background: #0000b7;
        display: block;
        float: left;
        padding: 0;
        margin: 0;
        }

#mainNav li.mainFirst-active,
#mainNav li.main-active,
#mainNav li.mainLast-active {
        background-color: #000080;
        }


#mainNav ul li a {
        display: block;
        float: left;
	font-size: small;
        text-decoration: none;
        color: #fff;
        padding-left: 5px;
        padding-right: 15px;
        text-decoration: none;
        }

#mainNav ul li a:hover {
        color: #0ff;
}

/* Site Guide Stuff */
#guide {
  text-align: left;
  padding: 5px;
}
#guide ul {
  margin: 5px;
  padding-left: 15px;
  text-align: left;
  border: 0;
}
#guide ul li {
  list-style: disc inside;
  margin-left: 5px;
  padding-left: 5px;
  padding: 0;
  line-height: 1.5em;
}
#guide h4 {
  color: #00f;
  size: 1.2em;
  margin-top: 5px;
  margin-bottom: 5px;
}
#guide p {
  margin-left: 10px;
}
div.urllink {
  border: 1px dashed #000;
  padding: 5px;
  margin-left: 25px;
  margin-right: 25px;
}

div.urllink .details {
  font-size: 0.8em;
}
div.urllink h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #f00;
  font-size: 1.1em;
  line-height: 1.3em;
}
div.urllink code {
  margin-left: 50px;
  margin-top: 5px;
}
div.urllink code a {
  text-decoration: underline;
}
div.urllink img {
  float: left;
  margin: 0px;
  height: 48px;
}
div.nb {
  border: 1px #ccc solid;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  background: #fff url(http://www.schoolnet8.com/images/bg1.png) left top repeat-x; 
}
div.nb h3 {
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
}
div.nb .nb_content {
  padding: 5px;
}
